[Unit]
Description=Ticker

[Service]
# Command to execute when the service is started
ExecStart=/usr/bin/python3 /home/pi/ticker/main.py

[Service]
Environment=PYTHONUNBUFFERED=1
User=pi
EnvironmentFile=/home/pi/ticker/ticker-env
Type=simple

[Install]
WantedBy=default.target